<div class="page-display-body-content">
    @if (HeaderTemplate != null)
    {
        <div style="margin: 0 0 1rem .5rem">
            @HeaderTemplate.Invoke(_header!)
        </div>
    }
    <div style="margin: 0 0 1rem .5rem">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment<PageDisplayHeader>? HeaderTemplate { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private PageDisplayHeader? _header;
    
    public void AddHeader(PageDisplayHeader header)
    {
        _header = header;
        
        StateHasChanged();
    }
}