<div style="display:flex; align-items: center; gap: 1rem;">
    <label style="flex:.2; text-align: end; align-self:start;">@Label</label>
    <div style="flex: .7;">
        <textarea type="text" @bind="Value" style="height: 6rem; border: 1px solid #e1e2e9;padding: .5rem 0 .5rem .5rem; border-radius: 5px; width: 100%;"></textarea>
    </div>
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    
    private string _value  = string.Empty;
    
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public string Value
    {
        get => _value;
        set
        {
            if (_value == value) return;
            
            _value = value;
                
            ValueChanged.InvokeAsync(value);
        }
    }
}