@page "/project/new"
@using Arahk.ClearPath.WebApp.Models.Project
@inject NavigationManager NavMgr
@rendermode InteractiveServer

<PageTitle>Projects</PageTitle>
<PageHeader Title="New Project"/>
<PageActions>
    <LeftContent>
        <PageActionButtonItem Icon="fa-solid fa-floppy-disk" Caption="Save"
                              OnClick="SaveButtonClicked"></PageActionButtonItem>
        <PageActionLinkItem Icon="fa-solid fa-arrow-left" Caption="Cancel" Href="/"></PageActionLinkItem>
    </LeftContent>
</PageActions>

<PageDisplay Width="PageDisplayWidths.Quarter">
    <div style="background-color: white; width: 100%; border-spacing: 0; border-radius: 10px;">
        <div id="new-project-form" style="display: flex; flex-direction: column; gap: 1rem; padding: 1.5rem;">
            <TextEntry Label="Name" @bind-Value="_model.Name"></TextEntry>
            <DateEntry Label="Start Date" @bind-Value="_model.StartDate"></DateEntry>
            <DateEntry Label="End Date" @bind-Value="_model.EndDate"></DateEntry>
            <MultiLineTextEntry Label="Description" @bind-Value="_model.Description"/>
        </div>
    </div>
</PageDisplay>

@code {

    private readonly NewProjectModel _model = new();

    private void SaveButtonClicked(MouseEventArgs e)
    {
        NavMgr.NavigateTo("/");
    }

}