<div id="page-actions">
    <div>@LeftContent</div>
    <div>@RightContent</div>
</div>

@code {

    [Parameter]
    public RenderFragment? LeftContent { get; set; }
    
    [Parameter]
    public RenderFragment? RightContent { get; set; }
}