@inherits LayoutComponentBase

<div id="app-container">
    <section id="app-header">
        <div id="app-header-content">
            <div id="app-header-title">
                Project Management
            </div>
            <div>
                <button id="btn-new-project">
                    <i class="fas fa-plus"></i>
                    New Project
                </button>
            </div>
        </div>
        <div id="app-header-nav">
            <div>
                <NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
                <div class="indicator"></div>
            </div>
            <div>
                <NavLink href="/Project" Match="NavLinkMatch.All">Project</NavLink>
                <div class="indicator"></div>
            </div>
            <div>
                <NavLink href="/Task" Match="NavLinkMatch.All">Tasks</NavLink>
                <div class="indicator"></div>
            </div>
            <div>
                <NavLink href="/Calendar" Match="NavLinkMatch.All">Calendar</NavLink>
                <div class="indicator"></div>
            </div>
        </div>
    </section>
    <main id="app-body">
        @Body
    </main>
</div>