@inherits LayoutComponentBase

<div id="main-container">
    <div id="topbar-container">
        <div id="topbar-app-name">
            <span>Clear-Path</span>
            <input style="border-radius: 2px; border: 1px solid white; font-size: .8rem; margin: 0 .6rem 0 2rem; flex: .7" type="text" placeholder="Search..." />
            <i style="cursor: pointer" class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div style="font-size: .7rem; display: flex; align-items: center;">
            <div style="border-right: 1px solid white;padding-right: 1rem;">
                <i style="cursor: pointer" class="fa-solid fa-bullhorn"></i>
                <i style="cursor: pointer; margin: 0 .5rem;" class="fa-solid fa-user"></i>
                <span>Arahk Yambupah</span>
            </div>
            <i style="padding:0 1rem; cursor: pointer;" class="fa-solid fa-door-open"></i>
        </div>
    </div>
    
    @Body
    
</div>

@code {
  
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>